@font-face {
  font-family: Mulish;
  src: url("./assets/fonts/Mulish.Regular.tff");
}

.home {
  display: flex;
  flex-direction: column;
  .home_head {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 30px 0;
    h1 {
      font-family: Mulish;
      font-size: 40px;
      font-weight: 700;
      line-height: 19px;
      letter-spacing: 0.005em;
      text-align: left;
      color: #333;
      transition: 0.3s;
    }
    input {
      width: 30%;
      padding: 10px;
      outline: none;
      border: 0;
      font-size: 18px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }
    select {
      width: 20%;
      padding: 10px;
      outline: none;
      border: 0;
      font-size: 18px;
      border: 1px solid #ccc;
      border-radius: 6px;
      color: #fff;
      background-color: rgba(28, 16, 107, 0.922);
    }
  }
  .product_content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    .product_card {
      display: flex;
      flex-direction: column;
      width: 30%;
      height: 500px;
      border: 1px solid #ccc;
      border-radius: 10px;
      margin: 10px;
      overflow: hidden;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;

      img {
        height: 290px;
        box-shadow: 0 0 8px 2px #ccc;
        width: 100% !important;
      }
      .product_body {
        display: flex;
        align-items: start;
        gap: 14px;
        padding: 16px;
        flex-direction: column;
        span {
          font-family: Mulish;
          font-size: 20px;
          font-weight: 700;
          line-height: 19px;
          letter-spacing: 0.005em;
          text-align: left;
          color: #333;
          transition: 0.3s;
        }
        h2 {
          font-size: 28px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0.005em;
          text-align: left;
          color: #333;
          font-family: Mulish;
          transition: 0.3s;
        }
        p {
          font-size: 28px;
          font-weight: 900;
          font-family: Mulish;
          line-height: 24px;
          letter-spacing: 0.005em;
          text-align: left;
          color: #333;
          transition: 0.3s;
        }
        .product_btn {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 0;
          font-family: Mulish;
          height: 30px;
          border-radius: 5px;
          width: 90px;
          color: #fff;
          font-size: 18px;
          cursor: pointer;
          transition: all 0.3s;
          background-color: rgba(0, 0, 255, 0.815);
        }
        .product_btn:hover {
          transform: scale(1);

          background-color: rgba(0, 0, 255, 0.698);
        }
      }
    }
    .product_card:hover {
      box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.2);
    }
  }
  .pagination {
    display: flex;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #333;
      color: #fff;
    }
  }

  @keyframes ldio-g5sxjzkryea {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .loading {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;

    .ldio-g5sxjzkryea div {
      left: 94px;
      top: 48px;
      position: absolute;
      animation: ldio-g5sxjzkryea linear 1s infinite;
      background: #0a0a0a;
      width: 12px;
      height: 24px;
      border-radius: 6px / 12px;
      transform-origin: 6px 52px;
    }
    .ldio-g5sxjzkryea div:nth-child(1) {
      transform: rotate(0deg);
      animation-delay: -0.9166666666666666s;
      background: #0a0a0a;
    }
    .ldio-g5sxjzkryea div:nth-child(2) {
      transform: rotate(30deg);
      animation-delay: -0.8333333333333334s;
      background: #0a0a0a;
    }
    .ldio-g5sxjzkryea div:nth-child(3) {
      transform: rotate(60deg);
      animation-delay: -0.75s;
      background: #0a0a0a;
    }
    .ldio-g5sxjzkryea div:nth-child(4) {
      transform: rotate(90deg);
      animation-delay: -0.6666666666666666s;
      background: #0a0a0a;
    }
    .ldio-g5sxjzkryea div:nth-child(5) {
      transform: rotate(120deg);
      animation-delay: -0.5833333333333334s;
      background: #0a0a0a;
    }
    .ldio-g5sxjzkryea div:nth-child(6) {
      transform: rotate(150deg);
      animation-delay: -0.5s;
      background: #0a0a0a;
    }
    .ldio-g5sxjzkryea div:nth-child(7) {
      transform: rotate(180deg);
      animation-delay: -0.4166666666666667s;
      background: #0a0a0a;
    }
    .ldio-g5sxjzkryea div:nth-child(8) {
      transform: rotate(210deg);
      animation-delay: -0.3333333333333333s;
      background: #0a0a0a;
    }
    .ldio-g5sxjzkryea div:nth-child(9) {
      transform: rotate(240deg);
      animation-delay: -0.25s;
      background: #0a0a0a;
    }
    .ldio-g5sxjzkryea div:nth-child(10) {
      transform: rotate(270deg);
      animation-delay: -0.16666666666666666s;
      background: #0a0a0a;
    }
    .ldio-g5sxjzkryea div:nth-child(11) {
      transform: rotate(300deg);
      animation-delay: -0.08333333333333333s;
      background: #0a0a0a;
    }
    .ldio-g5sxjzkryea div:nth-child(12) {
      transform: rotate(330deg);
      animation-delay: 0s;
      background: #0a0a0a;
    }
    .loadingio-spinner-spinner-6198pfzjivt {
      width: 200px;
      height: 200px;
      display: inline-block;
      overflow: hidden;
    }
    .ldio-g5sxjzkryea {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateZ(0) scale(1);
      backface-visibility: hidden;
      transform-origin: 0 0;
    }
    .ldio-g5sxjzkryea div {
      box-sizing: content-box;
    }
  }
}
